**/node_modules/
**/.idea/
**/dist/
**/.claude-trace/
./dist
./src/embed/frontend/
/src/embed/frontend/
!./src/embed/frontend/.gitkeep
./src/embed/config-schema.json
./src/embed/openocta.json.example
./ui/.idea/
./src/.claude/
./src/.idea/
./src/.claude-trace/
./.claude-trace/
./.idea/
./openocta
.DS_Store
./src/.DS_Store
./docs/
**/.DS_Store
/ui/src/ui/__screenshots__
